<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link />
    <title>Forecast Service</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<script type="text/javascript" th:inline="javascript">

    /*<![CDATA[*/

    $(document).ready(function(){

        // empty the parameter elements inside the div, when a new algorithm is selected
        $('#selectnew').change(function(){
            $('#dynamic').empty();
            getParametersForAlgorithm();
        })
        $('#selectInputType').change(function(){
            $('#labelOptions').empty();
            loadLabelTypeOptions();
        })
        $('#selectInputType2').change(function(){
            $('#featureOptions').empty();
            loadFeatureTypeOptions();
        })

        // https://www.mkyong.com/spring-boot/spring-boot-ajax-example/
        $("#forecastForm").submit(function (event) {
            //stop submit the form, we will post it manually.
            event.preventDefault();

            fire_ajax_submit();
        });
    });

    function fire_ajax_submit() {

        var json = $('#forecastForm').serialize();

        var postURL = '/test';

        $('#singlebutton').attr('class','btn btn-primary');

        $.post(postURL,JSON.stringify(json),function(data,status){

        }).done(function(data, status){
            alert('forecast success, data: '+data);
        }).fail(function(xhr, textStatus, errorThrown){
            document.getElementById("progress").style.display="none";
            $('#singlebutton').attr('class','btn btn-danger');
        });

    }

    function getParametersForAlgorithm() {
        var selectedAlgo = $('#selectnew').val();
        var url = "/parameters/"+selectedAlgo;
        $("#dynamic").load(url);
    }
    function loadLabelTypeOptions() {
        var selectedType = $('#selectInputType').val();
        if(selectedType != "0"){
            var url = "/inputTypeOptions/"+selectedType;
            $("#labelOptions").load(url)
        }
    }
    function loadFeatureTypeOptions() {
        var selectedType = $('#selectInputType2').val();
        if(selectedType != "0"){
            var url = "/inputTypeOptions/"+selectedType;
            $("#featureOptions").load(url)
        }
    }
    function loadAdditionalFeatures() {
        var selectedType = $('#additionalSelection').val();
        console.log("type "+selectedType+" selected!")
        if(selectedType != "0"){
            var url = "/additionalInputs/"+selectedType;
            $("#addendAdditional").append($("#featureAdditionalOptions").load(url).html())
        }
    }
    function deleteLastAddedFeature() {
        if($('#addendAdditional').children().last().attr('id') == 'featureAdditionalOptions'){
            $('#addendAdditional').children().last().fadeOut().empty();
        }
        else{
            $('#addendAdditional').children().last().fadeOut().remove();
        }
    }
    function myChangeFunction() {
        //document.getElementById("progress").style.display="block";
        // horizon id: horizon
        // past horizon id: pastHorizon
        // predicted Path id: predictedData
        var selectedType = $('#selectaction').val();

        document.getElementById('pastHorizon').style.display="none";
        document.getElementById('horizon').style.display="none";
        document.getElementById('predictedData').style.display="none";

        if(selectedType=='Modeling'){
            document.getElementById('pastHorizon').style.display="block";
            document.getElementById('horizon').style.display="block";
        }
        if(selectedType=='Application'){
            document.getElementById('predictedData').style.display="block";
        }
        if(selectedType=='Both'){
            document.getElementById('pastHorizon').style.display="block";
            document.getElementById('horizon').style.display="block";
            document.getElementById('predictedData').style.display="block";
        }

    }
    function startSpark() {
        var sparkURL = $('#sparkInput').val();
        if(sparkURL==''){
            sparkURL = 'local';
        }
        var postURL = '/startSpark';
        $.post(postURL,sparkURL,function(data,status){

        }).done(function(data, status){
            $('#sparkGroup').attr('class','form-group has-success has-feedback');
        }).fail(function(xhr, textStatus, errorThrown){
            $('#sparkGroup').attr('class','form-group has-error has-feedback');
        });

    }
    function deleteAllData() {

        var buttons = $('button').filter(function(idx) {
            return this.innerHTML == 'Load';
        });
        buttons.each(function(){
            $(this).attr('class','btn btn-primary active')
        });

        $.post('/deleteData',function(data,status){
            console.log("Data: "+data+" Status: "+status);
        })
    }
    function addData() {

        var buttonState = $(document.activeElement).attr('class');
        if(buttonState=='btn btn-primary disabled'){
            return 0;
        }

        var button = $(document.activeElement).attr('class','btn btn-primary disabled');

        var contentDiv = $(document.activeElement).closest('.content');

        var pathInput = $(contentDiv).find('input:first').val();

        var TypeFound = $(contentDiv).find('[name="csvOptions"]').prop('tagName');
        var tsdbSelected = (TypeFound==undefined);

        var dataDestiny = $(contentDiv).find('h4:first').text();
        var dataDestinyBool = (dataDestiny=='Label Data:');
        if(dataDestinyBool){
            dataDestiny = "label";
        }
        else{
            dataDestiny = "feature"
        }

        var url = "/addData";

        var data = {};

        if(!tsdbSelected){

            var checkboxValue = $(contentDiv).find("input[type='checkbox']").is(':checked');

            var delimeterValue = $(contentDiv).find('[name="selectDel"]').val();

            var indicesValue = $(contentDiv).find('[name="textinputLabel"]').val();

            data = {
                path: pathInput,
                as: dataDestiny,
                type: 'csv',
                head: checkboxValue,
                delimeter: delimeterValue,
                indices: indicesValue
            };
        }

        if(tsdbSelected){

            var inputFrom = $(contentDiv).find('[name="textinputFrom"]').val();

            var inputTo = $(contentDiv).find('[name="textinputTo"]').val();

            var metricInput = $(contentDiv).find('[name="textinputMetric"]').val();

            var tagsInput = $(contentDiv).find('[name="textinputTags"]').val();

            data = {
                path: pathInput,
                as: dataDestiny,
                type: 'tsdb',
                from: inputFrom,
                to: inputTo,
                metric: metricInput,
                tags: tagsInput
            };
        }

        $.post(url,data,function(data,status){

        })
            .done(function(data, status){
                // save data to a hidden input tag. After all data is send there, send the text from input field to server so it has all metadata
                var metadata1 = $('#hiddenMetadataForDatasets').val();
                var metadata2 = data + '\n' + metadata1;
                $('#hiddenMetadataForDatasets').val(metadata2);

                $(document.activeElement).attr('class','btn btn-success disabled');
            })
            .fail(function(xhr, textStatus, errorThrown){
                button.attr('class','btn btn-primary active');

                $(document.activeElement).attr('class','btn btn-danger');
            });

    }

    function myFunction() {
        document.getElementById("progress").style.display="block";
    }

    /*]]>*/

</script>

<div class="jumbotron">
    <h1 align="center">Forecast Service</h1>
    <p align="middle">Made by Nico Peter.</p>
</div>

<div class="container">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#spark">Load Spark</a></li>
        <li><a data-toggle="tab" href="#data" id="dataTabMenu">Load Data</a></li>
        <li><a data-toggle="tab" href="#algorithms" id="algoTabMenu">Perform Forecast</a></li>
        <li><a data-toggle="tab" href="#about">About</a></li>
    </ul>

    <form id="forecastForm" class="form-horizontal" action="" th:action="@{/test}" th:object="${forecast}" method="post">

        <input class="form-control input-md" id="hiddenMetadataForDatasets" name="hiddenMetadataForDatasets" type="hidden" data-th-value="${meta.metadata}" th:field="${meta.metadata}" />

        <fieldset>
        <div class="tab-content">

            <!-- ABOUT -->

            <div id="about" class="tab-pane fade">
                <h3>Guide</h3>
                <p>
                    This is the web frontend for using the forecast service developed by Nico Peter.
                    The service enables a user to perform forecasts using algorithms from the machine learning library provided by apache spark.
                    The following lines will inform you on how to achieve that.
                </p>
                <p>
                    First, select the menue element "Load Spark", type in the URL for connecting to a running spark master node and press the button "Load" on its right side.
                    It's also possible to type in "local", so spark will be started locally and therefore use the cores from the users' pc.
                </p>
                <p>
                    Then go to the "Load Data" element from the menue. There you have to choose, which kind of data will be loaded for the forecasting process.
                    Here, you can select CSV-files for loading local files or TSDB for loading JSON-files from a openTSDB service.
                    Additionally, type in a path to the data and some options connected with the data type selected.
                    Moreover, for each data added to the formular, you have to choose whether the data represents label (y) values or feature (x) values for a forecasting function.
                </p>
                <p>
                    Finally click on the "Perform Forecast" option from the menue. Then select the type to perform and the algorithm which will be used during the forecasting process.
                    Depending on the selected perform type, it is required to give information about where to save the resulting model or/and the resulting predicted data.
                    Once you're finished with that, press the button "Start" and the forecast service will start showing a blue bar.
                </p>
                <p>
                    Right after the forecasting process has finished, the blue bar disappears and a result is generated under the "Start" button as JSON.
                    The result contains the information provided by the user on this web frontend and the model parameters from the model training.
                </p>
                <h3>Contact</h3>
                <p>
                    If you are encountering trouble or having important questions related to the program, please try to contact:
                    <ul>
                    <li>Me: "nico.peter@kit.edu" or</li>
                    <li>My supervisor Markus Reischl: "markus.reischl@kit.edu"</li>
                    </ul>
                </p>
                <h3>Related Work</h3>
                <p>
                    The following list contains some references for further investigations:
                <ul>
                    <li>HYNDMAN, Rob J.; ATHANASOPOULOS, George: Forecasting: principles and practice. OTexts, 2014 <a href="https://www.otexts.org/fpp">(Link)</a></li>
                    <li>THOMPSON, John: Spring Boot Web application - Part 2 - Using Thymeleaf. Spring Framework Guru, 2015 <a href="https://springframework.guru/spring-boot-web-application-part-2-using-thymeleaf/">(Link)</a></li>
                    <li>SPINDLER, Heiko: Machine Learning mit Apache Spark 2. Heise Developer, 2017 <a href="https://www.heise.de/developer/artikel/Machine-Learning-mit-Apache-Spark-2-3657735.html">(Link)</a></li>
                </ul>
                </p>

                <br />
                <br />
                <br />

            </div>

            <!-- LOAD SPARK -->

            <div id="spark" class="tab-pane fade in active">
                <h3>Spark</h3>
                <!-- Load Spark From-->
                <div class="form-group" id="sparkGroup">
                    <label class="col-md-4 control-label" for="sparkInput">Load Spark from:</label>
                    <div class="col-md-3" >
                        <input data-toggle="tooltip" title="file path to a csv file" id="sparkInput" name="sparkInput" type="text" placeholder="local" th:field="*{sparkURL}" class="form-control input-md" />
                    </div>
                    <div class="col-md-1">
                        <button type="button" style="width: 100%; font-size: large" align="right" name="action" value="spark" class="btn btn-primary" th:onclick="|startSpark()|">Load</button>
                    </div>
                </div>
            </div>


            <!-- LOAD DATA -->

            <div id="data" class="tab-pane fade">
                <h3>Data</h3>

                <!-- Delete loaded Data - Button  -->
                <div class="form-group">
                    <div class="col-md-4"></div>
                    <div class="col-md-2">
                        <button type="button" title="Delete the Data loaded on the server" style="font-size: large" align="right" name="action" value="deleteData" class="btn btn-primary" th:onclick="|deleteAllData()|">Delete loaded Data</button>
                    </div>
                </div>

                <div class="content">
                    <h4>Label Data:</h4>
                    <!-- Take file from NEW -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="dataInput">Data Path:</label>
                        <div class="col-md-4">
                            <input data-toggle="tooltip" title="file path to a csv file" id="dataInput" name="dataInput" type="text" placeholder="path" class="form-control input-md" />
                        </div>
                    </div>
                    <!-- Type -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="selectInputType">Data Type:</label>
                        <div class="col-md-2">
                            <select id="selectInputType" name="selectInputType" class="form-control" >
                                <option th:value = "0">---Choose option---</option>
                                <option value="1" th:value="csv" ><b>CSV</b></option>
                                <option value="2" th:value="tsdb" ><b>TSDB</b></option>
                            </select>
                        </div>
                    </div>
                    <div id="labelOptions"></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-1">
                        <button type="button" style="width: 100%; font-size: large" align="right" name="action" value="spark" class="btn btn-primary" th:onclick="|addData(this)|">Load</button>
                    </div>
                </div>

                <br />
                <br />
                <br />
                <br />

                <div class="content">
                    <h4>Feature Data:</h4>
                    <!-- Take file from NEW -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" >Data Path:</label>
                        <div class="col-md-4">
                            <input data-toggle="tooltip" title="file path to a csv file" name="dataInput" type="text" placeholder="path" class="form-control input-md" />
                        </div>
                    </div>
                    <!-- Type -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="selectInputType2">Data Type:</label>
                        <div class="col-md-2">
                            <select id="selectInputType2" name="selectInputType2" class="form-control" >
                                <option th:value = "0">---Choose option---</option>
                                <option value="1" th:value="csv" ><b>CSV</b></option>
                                <option value="2" th:value="tsdb" ><b>TSDB</b></option>
                            </select>
                        </div>
                    </div>
                    <div id="featureOptions"></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-1">
                        <button type="button" style="width: 100%; font-size: large" align="right" name="action" value="spark" class="btn btn-primary" th:onclick="|addData()|">Load</button>
                    </div>
                </div>

                <br />
                <br />
                <br />
                <br />

                <!-- Additional Data -->
                <h4>Additional Feature Data:</h4>
                <div class="from-group">
                    <label class="col-md-4 control-label" for="additionalSelection">Data Type:</label>
                    <div class="col-md-2">
                        <select name="additionalSelection" id="additionalSelection" class="form-control" >
                            <option th:value = "0">---Choose option---</option>
                            <option value="1" th:value="csv" ><b>CSV</b></option>
                            <option value="2" th:value="tsdb" ><b>TSDB</b></option>
                        </select>
                    </div>
                    <div class="col-md-1" style="background-color: blue; text-align: center" onclick="loadAdditionalFeatures()">
                        <strong style="color: white; font-size: x-large">+</strong>
                    </div>
                    <div class="col-md-1" style="background-color: red; text-align: center" onclick="deleteLastAddedFeature()">
                        <strong style="color: white; font-size: x-large">-</strong>
                    </div>
                </div>
                <br />
                <br />
                <br />
                <legend style="border-color: black"></legend>
                <div id="addendAdditional">
                    <div id="featureAdditionalOptions"></div>
                </div>
                <br />
                <br />
                <br />
            </div>

            <!-- PERFORM FORECAST -->
            <div id="algorithms" class="tab-pane fade">
                <h3>Algorithms</h3>

                <!-- Select Action -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="selectaction">What to do:</label>
                    <div class="col-md-4">
                        <select id="selectaction" name="selectaction" class="form-control" onchange="myChangeFunction()" th:field="*{performType}">
                            <option  value="0" th:value="0">---Choose option---</option>
                            <option id="modeling" value="1" th:value="Modeling">Model Training</option>
                            <option id="application" value="2" th:value="Application">Prediction</option>
                            <option id="both" value="3" th:value="Both">Both together</option>
                        </select>
                    </div>
                </div>

                <!-- Save Model to -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="modelPathInput">Model Path:</label>
                    <div class="col-md-4">
                        <input data-toggle="tooltip" title="path to a directory where the model will be saved or loaded from" id="modelPathInput" name="textinput2" type="text" th:field="*{modeling.savePathModel}" placeholder="path" class="form-control input-md" />
                    </div>
                </div>

                <!-- Save new Data to -->
                <div class="form-group" id="predictedData" style="display: none">
                    <label class="col-md-4 control-label" for="predictedPathInput">Save new Data to:</label>
                    <div class="col-md-4">
                        <input data-toggle="tooltip" title="path to a directory where the predicted/calculated data will be saved" id="predictedPathInput" name="textinput3" type="text" th:field="*{savePathCSV}" placeholder="path" class="form-control input-md" />
                    </div>
                </div>

                <!-- Forecast Past Horizon -->
                <div class="form-group" id="pastHorizon" style="display: none">
                    <label class="col-md-4 control-label" for="pastHorizonInput">Past Values for modeling:</label>
                    <div class="col-md-4">
                        <input id="pastHorizonInput" th:field="*{modeling.pastHorizon}" name="textinput4" type="text" placeholder="number of datapoints in the past" class="form-control input-md" />
                    </div>
                </div>

                <!-- Forecast Horizon -->
                <div class="form-group" id="horizon" style="display: none">
                    <label class="col-md-4 control-label" for="horizonInput">Forecast Horizon:</label>
                    <div class="col-md-4">
                        <input id="horizonInput" th:field="*{modeling.horizon}" name="textinput4" type="text" placeholder="number of datapoints in future" class="form-control input-md" />
                    </div>
                </div>

                <!-- Select Algorithm -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="selectnew">Select Algorithm:</label>
                    <div class="col-md-4">
                        <select id="selectnew" name="selectnew" class="form-control">
                            <option th:value = "0">---Choose option---</option>
                            <option th:each="algorithm : ${algoList}" th:value="${algorithm.algoName}" th:text="${algorithm.algoName}"></option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" style="width: 50%; font-size: large" align="right" name="action" value="reloadAlgorithms" class="btn btn-primary">Reload</button>
                    </div>
                </div>

                <!-- Dynamic Paras -->
                <div id="dynamic">
                </div>

                <!-- Start Button -->
                <div class="form-group">
                    <label class="col-md-5 control-label" for="singlebutton"></label>
                    <div class="col-md-2">
                        <button id="singlebutton" style="width: 100%; font-size: large" align="right" name="action" class="btn btn-primary" value="perform" onclick="myFunction()"><span class="glyphicon glyphicon-flash"></span> Start</button>
                    </div>
                </div>

                <!-- Progressbar -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="singlebutton"></label>
                    <div class="col-md-4 control-label" id="progress" style="display: none">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" style="width:100%"></div>
                        </div>
                    </div>
                </div>

                <!-- Result -->
                <div class="form-group" th:if="${modellingDone} == true">
                    <label class="col-md-4 control-label" for="textarea">Forecast result:</label>
                    <div class="col-md-4">
                        <textarea class="form-control" id="textarea" name="textarea" th:text="*{result}"></textarea>
                    </div>
                </div>
            </div>

        </div>
            </fieldset>
    </form>
</div>

</body>
</html>
