<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<!--
<body>
<div th:fragment="parameterList">
    <div class="form-group" th:each="parameter,iterstatus: ${deMappa.dadList}">
        <label class="col-md-4 control-label"  th:text="${parameter.name}">Input Data and Feature Index:</label>
        <div class="col-md-3">
            <input data-toggle="tooltip"
                   title="file path to a csv file"
                   type="text"
                   th:field="${deMappa.dadList[__${iterstatus.index}__].value}"
                   placeholder="value"
                   class="form-control input-md" />
        </div>
        <input type="hidden" th:field="${deMappa.dadList[__${iterstatus.index}__].name}" />
    </div>
</div>
</body>
-->
<body>
<div th:fragment="parameterList">
    <div class="form-group" th:each="parameter,iterstatus: ${wrapper.algoParameters}">
        <label class="col-md-4 control-label"  th:text="${parameter.name}">Input Data and Feature Index:</label>
        <div class="col-md-3">
            <input data-toggle="tooltip"
                   title="file path to a csv file"
                   type="text"
                   th:field="${wrapper.algoParameters[__${iterstatus.index}__].value}"
                   placeholder="value"
                   class="form-control input-md" />
        </div>
        <input type="hidden" th:field="${wrapper.algoParameters[__${iterstatus.index}__].name}" />
    </div>
    <input type="hidden" th:field="${wrapper.algoName}" />
</div>
</body>

</html>