<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link />
    <title>Forecast Framework</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Bootstrap stuff: -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />

    <!-- Custom styles for this template -->
    <link href="theme.css" rel="stylesheet" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="webjars/jquery/2.0.3/jquery.min.js"></script>
</head>
<body>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
    function myFunction() {
        document.getElementById("progress").style.display="block";
    }
    function myChangeFunction() {
        var x = document.getElementById("selectaction").value;
        if (x == "Application" || x == "Both") {
            document.getElementById("horizon").style.display="block";
        } else {
            document.getElementById("horizon").style.display="none";
        }
    }
    /*]]>*/
</script>
<div class="jumbotron">
    <h1 align="center">Forecast Service</h1>
    <p align="center">Made by Nico Peter.</p>
</div>
<form class="form-horizontal" action="#" th:action="@{/test}" th:object="${forecast}" method="post">
    <fieldset>

        <!-- Form Name -->
        <legend></legend>

        <!-- Take file from -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput1">Take file from:</label>
            <div class="col-md-4">
                <input data-toggle="tooltip" title="file path to a csv file" id="textinput1" name="textinput1" type="text" th:field="${csvfile.dataPath}" placeholder="path" class="form-control input-md" />
            </div>
        </div>

        <!-- CSV options -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="checkboxes-0">CSV Options:</label>
            <div class="col-md-1">
                <div class="checkbox">
                    <label for="checkboxes-0">
                        <input type="checkbox" name="checkboxes" id="checkboxes-0" value="1" th:field="${csvfile.hasHeader}" />
                        Head
                    </label>
                </div>
            </div>
            <label class="col-md-1 control-label" for="selectDel">Delimeter:</label>
            <div class="col-md-2" style="width: 5%">
                <select id="selectDel" name="selectDel" class="form-control" th:field="${csvfile.delimeter}" >
                    <option value="1" th:value="1" ><b>,</b></option>
                    <option value="2" th:value="2" ><b>;</b></option>
                </select>
            </div>
        </div>

        <!-- Modeling Label/Features options -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinputLabel">Label at:</label>
            <div class="col-md-1">
                <input data-toggle="tooltip" title="1 means first column" id="textinputLabel" name="textinputLabel" type="text" th:field="${csvfile.labelColumnIndex}" placeholder="1" class="form-control input-md" />
            </div>
            <label class="col-md-1 control-label" for="textinputFeatures">Features at:</label>
            <div class="col-md-1">
                <input data-toggle="tooltip" title="columns with feature values" id="textinputFeatures" name="textinputFeatures" type="text" th:field="${csvfile.featureColumnsIndexes}" placeholder="2,3,4 or 2 3 4" class="form-control input-md" />
            </div>
        </div>

        <!-- Save Model to -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput2">Save model to:</label>
            <div class="col-md-4">
                <input data-toggle="tooltip" title="path to a directory where the model will be saved" id="textinput2" name="textinput2" type="text" th:field="${modeling.savePathModel}" placeholder="path" class="form-control input-md" />
            </div>
        </div>

        <!-- Save CSV to -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput3">Save resulting csv to:</label>
            <div class="col-md-4">
                <input data-toggle="tooltip" title="path to a directory where the predicted data will be saved" id="textinput3" name="textinput3" type="text" th:field="*{savePathCSV}" placeholder="path" class="form-control input-md" />

            </div>
        </div>

        <!-- Select Algorithm -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="selectbasic">Select Algorithm:</label>
            <div class="col-md-4">
                <select id="selectbasic" name="selectbasic" class="form-control" th:field="${modeling.algoType}">
                    <option th:each="algorithmType : ${T(org.kit.energy.AlgorithmType).values()}" th:value="${algorithmType}" th:text="${algorithmType}"></option>
                </select>
            </div>
        </div>

        <!-- Select Action -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="selectaction">Perform:</label>
            <div class="col-md-4">
                <select id="selectaction" name="selectaction" class="form-control" onchange="myChangeFunction()" th:field="*{performType}">
                    <option id="modeling" value="1" th:value="Modeling">Modeling and Evaluation</option>
                    <option id="application" value="2" th:value="Application">Model Application</option>
                    <option id="both" value="3" th:value="Both">Both</option>
                </select>
            </div>
        </div>

        <!-- Forecast Past Horizon -->
        <div class="form-group" id="horizon" style="display: none">
            <label class="col-md-4 control-label" for="textinput4">Past Values for modeling:</label>
            <div class="col-md-4">
                <input id="textinput4" name="textinput4" type="text" placeholder="number of datapoints to the past" class="form-control input-md" />
            </div>
        </div>

        <!-- Start Button -->
        <div class="form-group">
            <label class="col-md-5 control-label" for="singlebutton"></label>
            <div class="col-md-2">
                <button id="singlebutton" style="width: 100%; font-size: large" align="right" name="singlebutton" class="btn btn-primary" onclick="myFunction()"><span class="glyphicon glyphicon-flash"></span> Start</button>
            </div>
        </div>

        <!-- Progressbar -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="singlebutton"></label>
            <div class="col-md-4 control-label" id="progress" style="display: none">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" style="width:100%"></div>
                </div>
            </div>
        </div>

        <!-- Result -->
        <div class="form-group" th:if="${modellingDone} == true">
            <label class="col-md-4 control-label" for="textarea">Result model:</label>
            <div class="col-md-4">
                <textarea class="form-control" id="textarea" name="textarea" th:text="*{result}"></textarea>
            </div>
        </div>


    </fieldset>
</form>

<!-- Error Box for Exception -->
<div class="alert alert-danger" th:if="${validatorError} == true" >
    <p align="center" th:text="${validatorMessage}"><strong>Error!</strong> Please provide a valid path to a file.</p>
</div>

</body>
</html>

