<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link />
    <title>Forecast Framework</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Bootstrap stuff: -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />

    <!-- Custom styles for this template -->
    <link href="theme.css" rel="stylesheet" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<script>
    function myFunction() {
        document.getElementById("progress").style.display="block";
    }
    function myChangeFunction() {
        var x = document.getElementById("selectaction").value;
        if (x == "2" || x == "3") {
            document.getElementById("horizon").style.display="block";
        } else {
            document.getElementById("horizon").style.display="none";
        }
    }
</script>
<div class="jumbotron">
    <h1 align="center">Forecast Service</h1>
    <p align="center">Made by Nico Peter.</p>
</div>
<form class="form-horizontal" action="#" th:action="@{/test}" th:object="${forecast}" method="post">
    <fieldset>

        <!-- Form Name -->
        <legend></legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput1">Take file from:</label>
            <div class="col-md-4">
                <input id="textinput1" name="textinput1" type="text" th:field="*{dataPath}" placeholder="path" class="form-control input-md" />
            </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="selectbasic">Select Algorithm:</label>
            <div class="col-md-4">
                <select id="selectbasic" name="selectbasic" class="form-control" th:field="*{algoType}">
                    <option th:each="algorithmType : ${T(org.kit.energy.AlgorithmType).values()}" th:value="${algorithmType}" th:text="${algorithmType}"></option>
                </select>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput2">Save model to:</label>
            <div class="col-md-4">
                <input id="textinput2" name="textinput2" type="text" th:field="*{savePath}" placeholder="path" class="form-control input-md" />

            </div>
        </div>

        <!-- Select Action -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="selectaction">Perform:</label>
            <div class="col-md-4">
                <select id="selectaction" name="selectaction" class="form-control" onchange="myChangeFunction()" th:field="*{performType}">
                    <option id="modeling" value="1" th:value="Modeling">Modeling and Evaluation</option>
                    <option id="application" value="2" th:value="Application">Model Application</option>
                    <option id="both" value="3" th:value="Both">Both</option>
                </select>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group" id="horizon" style="display: none">
            <label class="col-md-4 control-label" for="textinput3">Forecast Horizon:</label>
            <div class="col-md-4">
                <input id="textinput3" name="textinput3" type="text" placeholder="number of datapoints" class="form-control input-md" />
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-5 control-label" for="singlebutton"></label>
            <div class="col-md-2">
                <button id="singlebutton" style="width: 100%; font-size: large" align="right" name="singlebutton" class="btn btn-primary" onclick="myFunction()">Start</button>
            </div>
        </div>

        <!-- Progressbar -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="singlebutton"></label>
            <div class="col-md-4 control-label" id="progress" style="display: none">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" style="width:100%"></div>
                </div>
            </div>
        </div>

        <!-- Textarea -->
        <div class="form-group" th:if="${modellingDone} == true">
            <label class="col-md-4 control-label" for="textarea">Result model:</label>
            <div class="col-md-4">
                <textarea class="form-control" id="textarea" name="textarea" th:text="*{result}"></textarea>
            </div>
        </div>

    </fieldset>
</form>

<!-- Error Box for Exception -->
<div class="alert alert-danger" th:if="${inputError} == true" >
    <p align="center"><strong>File not found!</strong> Please provide a valid path to a file.</p>
</div>

</body>
</html>

